<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>create product page</h1>
        <form method ="POST" action ="/products/store">
            <div class="mb-3">
                <label for="name" class="form-label">Product name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
                <div class="mb-3">
                <label for="details" class="form-label">Product details</label>
                <input type="text" class="form-control" id="details"
                name="details">

            </div>
                <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" class="form-control" id="price" name="price">
                <button id="create-product-btn" type="submit" class="btn btn-primary">Submit</button>

            </div>
            

        </form>
</body>
</html>