<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
</head>
<body>
    <h1>products page</h1>
    <div class="mt-4">
        <div class="row">
            {{#each products}}
                <div class="card" style="width: 18rem;">
                    <img src"#" class="card-img-top" alt="{{products.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{products.name}}</h5>
                        <p class="card-text">{{products.details}}</p>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</body>
</html>